#cinemas {
    width: 100%;
    margin-top: 50px;
    padding: 1% 7% 4% 7%;
}

.lista-cinemas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.pesquisa img {
    width: 18px;
    margin-right: 10px;
}

.pesquisa input {
    width: 190px;
    border:  none;
}

#imagem-cinema {
    height: 110px;
    border-radius: 10%;
    margin: 0 10% 0 5%;
}

input:focus {
    outline: none;
}

.cards-cinemas {
    margin: 4% 2% 2% 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-cinemas a {
    text-decoration: none;
    width: 45%;
    margin: 1%;
}

.card-cinema {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    background-color: #dfe9f8;
    padding: 2%;
}