a {
    text-decoration: none;
    color: white;
}

#editar-texto {
    margin-left: 15%;
    margin-right: 30%;
    width: 100%;
}

#lapis {
    width: 140%;
}

#trash {
    width: 140%;
    margin-bottom: 15px;
}

#lapis:hover, #trash:hover  {
    width: 170%;
}

button {
    background-color: transparent;
    border: none;
}

.btns-cinema {
    display: flex;
    flex-direction: column;
}

.box-titulos {
    display: flex;
    align-items: center;
}

