#filmes {
    width: 100%;
    margin-top: 50px;
    padding: 1% 7% 4% 7%;
}

.lista-filmes {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.filmes-titulos {
    display: flex;
    gap: 50px;
}

.filmes-titulos h4 {
    font-size: 20px;
    margin-bottom: 0px;
}

.pesquisa img {
    width: 18px;
    margin-right: 10px;
}

.pesquisa input {
    width: 165px;
    border:  none;
}

input:focus {
    outline: none;
}

.linha {
    padding: 0px;
    display: flex;
    height: 50px;
}

.linha .linha-cartaz, .linha .linha-breve {
    width: 6%;
}

.linha hr {
    width: 94%;
}

.cards-filmes {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin: 3% 1% 0 3%;
}

.cards-filmes a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: black;
}

