* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    cursor: pointer;
}

#selected {
    text-decoration: underline;
}

/*---------------NAVBAR-------------------*/
.menu {
    background-color: #001C46;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.titulo {
    color: #953C4C;
    margin-left: 50px;
}

.menu a {
    text-decoration: none;
}

.titulo:hover {
    cursor: pointer;
}

.nav-login {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 12%;
}

.nav-login img {
    width: 32px;
    height: 32px;
}

.nav-login a {
    text-decoration: none;
    color: white;
    padding-top: 1.5%;
}

.sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #953C4C;
    color: white;
    height: 60px;
    margin: 140px 0 20px 0;
    width: 100%;
}

.titulos {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    font-size: 25px;
}

.titulos a {
    color: white;
    text-decoration: none;
}

.localidades {
    display: flex;
    margin-right: 50px;
    align-items: center;
    width: 15%;
}

.localidades img {
    width: 9%;
    margin-right: 10px;
}

.form-select {
    height: 32px;
}

select:hover {
    cursor: pointer;
}

.form-select option {
    font-size: 15px;
}

.menu a:hover, .sub-menu, .titulos a:hover {
    cursor: pointer;
    color: rgb(201, 198, 198);
}

.card-filme {
    width: 220px;
    height: auto; 
    display: flex;
    margin: 1%;
    flex-direction: column;
    background-color: white;
    border-color: black;
}

.card-img-top {
    background-color: antiquewhite;
    width: 90%;
    height: 85%;
    align-self: center;
    margin: 10px;
    border-radius: 10px;
}

.card-title {
    margin: 20px 10px 0px 15px;
    color: black;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.card-body p {
    color: black;
}

.classificacao {
    width: 30px;
    height: auto;
    background-color: antiquewhite;
    padding: 0 5px 0 5px;
    border-radius: 2px;
}

#carouselExampleCards {
    width: 100%;
}

.img-carousel {
    width: 100%;
}

/*---------------BOTÃO FIXO-------------------*/
.btns-fixos {
    position: fixed;
    left: 97%;
    top: 90%;
    z-index: 10;
}

.btns-fixos a {
    text-decoration: none;
}

#img-theme {
    width: 80%;
}

#icon-back {
    width: 90%;
}

#btn-back, #btn-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 0.5px solid black;
    background-color: white;
    padding: 5px;
    margin: 1px;
} 

#btn-back:hover, #btn-theme:hover {
    color: #953C4C;
}


/*---------------FOOTER-------------------*/
footer {
    background-color: #001C46;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18%;
    margin-top: 1%;
}

.redes {
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.redes img{
    width: 5%;
}

footer hr {
    width: 96%;
    align-self: center;
}

.links-rodape {
    display: flex;
    justify-content: center;
}

.rodape-menu, .rodape-institucional, .rodape-politicas, .rodape-central {
    display: flex;
    flex-direction: column;
    margin: 50px 5% 0 6%;
    gap: 15px;
    width: 100%;
} 

.copyright {
    align-self: center;
    margin-top: 130px;
    font-size: 12px;
}

.links-rodape a:hover {
    color: #953C4C;
    cursor: pointer;
}


/*---------------FOOTER SIMPLES-------------------*/
.footer-simples {
    display: flex;
    justify-content: center;
    height: 100px;
}

.footer-simples .copyright {
    align-self: center;
    margin-top: 10px;
    font-size: 12px;
}

/*---------------MENU SIMPLES-------------------*/
.menu-simples {
    background-color: #001C46;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.menu-simples a {
    text-decoration: none;
}


/*---------------RESPONSIVIDADE-------------------*/
/*Celular*/
@media only screen and (max-width: 499px) {
    /*HEADER*/
    .menu {
        flex-direction: column;
        justify-content: center;
    }
    .titulo {
        margin: 0 0 10px 0;
    }
    .nav-login {
        width: 100%;
    }
    .nav-login a {
        font-size: 13px;
    }
    .nav-login img {
        width: 15px;
        height: 15px;
        margin-top: 6px;
    }
    .sub-menu {
        align-items: center;
        height: 70px;
        margin: 140px 0 20px 0;
        padding: 20px;
    }
    .titulos {
        display: flex;
        gap: 40px;
        margin-left: 0px;
        font-size: 18px;
    }
    .localidades {
        margin-right: 0px;
        width: 40%;
        height: 50px;
    }
    .form-select {
        height: 30px;
        font-size: 12px;
    }

    /*BTNS-FIXOS*/
    .btns-fixos {
        position: fixed;
        left: 93%;
        top: 55%;
        z-index: 10;
    }
    #img-theme {
        width: 70%;
    }
    
    #icon-back {
        width: 80%;
    }
    #btn-back, #btn-theme {
        width: 30px;
        height: 30px;
    } 

    /*FOOTER*/
    footer {
        height: auto;
    }
    .inicio {
        width: 100%;
        padding-left: 15px;
    }
    .links-rodape {
        flex-direction: column;
        margin-left: 50px;
    }
    .redes {
        width: 30%;
    }
    .redes img{
        width: 20%;
    }
    footer .titulo {
        padding: 20px;
    }
    .rodape-menu, .rodape-institucional, .rodape-politicas, .rodape-central {
        margin: 50px 0 0 0;
    } 
}

/*Tablet*/
@media screen and (min-width: 500px) and (max-width: 899px) {
    /*HEADER*/
    .menu {
        flex-direction: column;
        justify-content: center;
    }
    .titulo {
        margin: 0 0 10px 0;
    }
    .nav-login {
        width: 100%;
    }
    .nav-login a {
        font-size: 13px;
    }
    .nav-login img {
        width: 15px;
        height: 15px;
        margin-top: 6px;
    }
    .sub-menu {
        align-items: center;
        height: 70px;
        margin: 140px 0 20px 0;
        padding: 20px;
    }
    .titulos {
        display: flex;
        gap: 40px;
        margin-left: 0px;
        font-size: 18px;
    }
    .localidades {
        margin-right: 0px;
        width: 40%;
        height: 50px;
    }
    .form-select {
        height: 30px;
        font-size: 12px;
    }

    /*CARD*/
    .card-filme {
        width: 40%;
    }
    .card-title {
        font-size: 18px;
    }

    /*BTNS-FIXOS*/
    .btns-fixos {
        position: fixed;
        left: 93%;
        top: 55%;
        z-index: 10;
    }
    #img-theme {
        width: 70%;
    }
    
    #icon-back {
        width: 80%;
    }
    #btn-back, #btn-theme {
        width: 30px;
        height: 30px;
    } 

    /*FOOTER*/
    footer {
        height: auto;
    }
    .inicio {
        width: 100%;
        padding-left: 15px;
    }
    .links-rodape {
        flex-direction: column;
        margin-left: 50px;
    }
    .redes {
        width: 30%;
    }
    .redes img{
        width: 20%;
    }
    footer .titulo {
        padding: 20px;
    }
    .rodape-menu, .rodape-institucional, .rodape-politicas, .rodape-central {
        margin: 50px 0 0 0;
    } 
}

/*Notebook*/
@media screen and (min-width: 900px) and (max-width: 1299px) {

}

/*Computadores*/
@media screen and (min-width: 1300px) {
    body {

    }
}