body {
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carrossel {
    width: 100%;
}

.carousel-geral {
    height: 50%;
    margin-bottom: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-filmes, #home-franquias {
    width: 100%;
}

.home-section-titulo {
    margin: 60px;

}

.home-section-titulo a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 1%;
    align-items: center;
}

.home-section-titulo h3 {
    font-size: 22px;
}

.lista-filmes {
    display: flex;
    justify-content: space-between;
    margin: 1% 9% 4% 5%;
}

.lista-filmes a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: black;
}

.cards-filmes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 1% 0 1%;
}

.lista-franquias {
    display: flex;
    margin: 5% 9% 4% 12%;
    gap: 5%;
    flex-wrap: wrap;
}

.box-franquia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box-img-franquia {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img-franquia  img {
    border-radius: 100%;
    width: 120%;
}

.box-franquia h3 {
    font-size: 20px;
}