#perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-perfil {
    align-self: flex-start;
    margin: 2% 5% 2% 5%;
    border: 1px solid black;
    width: 90%;
    border-radius: 10px;
    padding: 30px;
}

.titulo-perfil h3 {
    font-size: 25px;
}

.user {
    width: 90%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.menu-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-size: 18px;
}

.menu-perfil p {
    margin: 2px;
}

.menu-perfil a {
    text-decoration: none;
    color: #000;
}

.a-red {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.a-red a {
    color: red;
    font-size: 18px;
}

.img-perfil {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.img-perfil img {
    width: 90%;
    border-radius: 100%;
}

.perguntas {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
}

.perguntas h3 {
    margin: 0 0 50px 0;
}

.data input {
    height: 40px;
    margin: 5% 5% 10% 0;
    padding: 5%;
}

.form-adm {
    padding: 0px;
    margin: 0px;
}

.h3-perfil-adm {
    margin: 0px !important;
}

.adm-bloco {
    padding: 2%;
}

.btn-modal-atualizar, .btn-modal-cancelar {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
}

.btn-modal-atualizar {
    background-color: rgb(49, 119, 9);
    color: white;
}

.btn-modal-cancelar {
    background-color: rgb(119, 9, 9);
    color: white;
}