<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Ingrid">
        <title>Filmes | Em Cartaz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/geral.css">
        <link rel="stylesheet" href="../css/filmes.css">
        <script src="../js/script.js" defer></script>
    </head>

    <body>
        <header>
            <nav class="menu">
                <a href="/cliente"><h2 class="titulo"><i>Moviefy Tickets</i></h2></a>
                <div class="nav-login">
                    <img src="../img/login.png" alt="Ícone de login">
                    <a href="/perfilUsuario">Bem-vindo, <span id="nomeUser"></span>!</a>
                </div>
            </nav>
            <nav class="sub-menu">
                <div class="titulos">
                    <a href="/filmesCartaz" id="selected">FILMES</a>
                    <a href="/cinemas">CINEMAS</a>
                </div>
                <div class="localidades">
                    <img src="../img/local.png" alt="Ícone de localização">
                    <select class="form-select">
                        <option selected>Curitiba</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </nav>
        </header>

        <main>
            <section id="filmes">
                <h3><b>Filmes - Curitiba</b></h3>
                
                <div class="lista-filmes">
                    <div class="filmes-titulos">
                        <a href="/filmesCartaz">Em Cartaz</a>
                        <a href="/filmesBreve">Em Breve</a>
                    </div>
        
                    <div class="pesquisa">
                        <img src="../img/lupa.png" alt="">
                        <input type="search" placeholder="ENCONTRE UM FILME">
                    </div>
                </div>
                <div class="linha">
                    <hr class="linha-cartaz" style="border-top: 3px solid #ce6275; opacity: 1;">
                    <hr class="linha-breve">
                    <hr>
                </div>

                <div class="cards-filmes">
                    <a href="">
                        <div class="card card-filme">
                            <img src="" class="card-img-top" alt="...">
                            <h5 class="card-title">Card title</h5>
                            <div class="card-body">
                                <p class="card-text">Some quick</p>
                                <p class="classificacao">L</a>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="card card-filme">
                            <img src="" class="card-img-top" alt="...">
                            <h5 class="card-title">Card title</h5>
                            <div class="card-body">
                                <p class="card-text">Some quick</p>
                                <p class="classificacao">L</a>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="card card-filme">
                            <img src="" class="card-img-top" alt="...">
                            <h5 class="card-title">Card title</h5>
                            <div class="card-body">
                                <p class="card-text">Some quick</p>
                                <p class="classificacao">L</a>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="card card-filme">
                            <img src="" class="card-img-top" alt="...">
                            <h5 class="card-title">Card title</h5>
                            <div class="card-body">
                                <p class="card-text">Some quick</p>
                                <p class="classificacao">L</a>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="card card-filme">
                            <img src="" class="card-img-top" alt="...">
                            <h5 class="card-title">Card title</h5>
                            <div class="card-body">
                                <p class="card-text">Some quick</p>
                                <p class="classificacao">L</a>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </main>

        <footer>
            <div class="inicio">
                <a href="/cliente"><h2 class="titulo"><i>Moviefy Tickets</i></h2></a>
                <div class="redes">
                    <img src="../img/instagram.png" alt="Ícone Instagram">
                    <img src="../img/x.png" alt="Ícone X">
                </div>
            </div>
            <hr>
            <div class="links-rodape">
                <div class="rodape-menu">
                    <p><b>MENU</b></p>
                    <a href="/filmesCartaz">Filmes</a>
                    <a href="/cinemas">Cinemas</a>
                </div>
                <div class="rodape-institucional">
                    <p><b>INSTITUCIONAL</b></p>
                    <a href="">Quem somos</a>
                </div>
                <div class="rodape-politicas">
                    <p><b>POLÍTICAS</b></p>
                    <a href="">Privacidade e segurança</a>
                    <a href="">Meia-entrada</a>
                    <a href="">Trocas e cancelamentos</a>
                </div>
                <div class="rodape-central">
                    <p><b>CENTRAL DE ATENDIMENTO</b></p>
                    <a href="">Telefone</a>
                    <a href="">Email</a>
                    <a href="">Fale conosco</a>
                </div>
            </div>
            <p class="copyright">Copyright © 2024 Moviefy Tickets. Todos os direitos reservados.</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </body>
</html>